Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]

In [2]:
a.append('mango')
print(a)

[2, 3, 4, 5, 6, 7, 'mango']

In [4]:
a.append('banana')
a.append('grapes')
a.append('orange')
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [5]:
a.insert(4,'apple')
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [6]:
L = [1,2,3,4,5,6,7]

In [7]:
new_l = L[1:4]
new_l

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [17]:
L = [4,5,6,8,3]
rev_l = L[::-1]
rev_l

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [22]:
L = [2,4,7,3,6,8]
squared_l = [x**2 for x in L]
squared_l

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [33]:
def addition(tuples):
    sums=0
    for i in tuples:
        sums +=i
    return sums

a= (3,5,7,9,11)
additions = addition(a)
additions

35

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [34]:
fruit1 = {'apple','banana','guava'}
fruit2 = {'orange','litchi','mango'}

In [35]:
fruits = fruit1.union(fruit2)
fruits

{'apple', 'banana', 'guava', 'litchi', 'mango', 'orange'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [36]:
words = {'man','woman','he','she','extra'}
words

{'extra', 'he', 'man', 'she', 'woman'}

In [37]:
words.add('apple')
words

{'apple', 'extra', 'he', 'man', 'she', 'woman'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [38]:
animals = {'dog','cat','cow','tiger','lion','horse'}
animals

{'cat', 'cow', 'dog', 'horse', 'lion', 'tiger'}

In [39]:
animals.remove('cat')
animals

{'cow', 'dog', 'horse', 'lion', 'tiger'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ 

 movie pairs. Print the resulting list.

In [40]:
favorite_books = {"1984","To Kill a Mockingbird","Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption","The Godfather","The Dark Knight"]
paired_list = list(zip(favorite_books,favorite_movies))
paired_list

[('1984', 'The Shawshank Redemption'),
 ('Pride and Prejudice', 'The Godfather'),
 ('To Kill a Mockingbird', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [41]:
lst = [5,9,12,18,22]
def deff_lst(lst):
    dff_lst=[]
    for i in range(1,len(lst)):
        dff= lst[i] - lst[i-1]
        dff_lst.append(dff)
    return dff_lst

print(deff_lst(lst))

[4, 3, 6, 4]